root = true

[*]
charset = utf-8

[*.{java, xml}]
indent_style = space
indent_size = 4
ij_java_annotation_parameter_wrap = normal
ij_java_array_initializer_wrap = normal
ij_java_assert_statement_wrap = off
ij_java_assignment_wrap = off
ij_java_binary_operation_wrap = off
ij_java_call_parameters_wrap = off
ij_java_class_annotation_wrap = split_into_lines
ij_java_do_not_wrap_after_single_annotation = false
ij_java_doc_do_not_wrap_if_one_line = false
ij_java_enum_constants_wrap = off
ij_java_extends_keyword_wrap = off
ij_java_extends_list_wrap = off
ij_java_field_annotation_wrap = split_into_lines
ij_java_for_statement_wrap = off
ij_java_method_annotation_wrap = split_into_lines
ij_java_method_brace_style = end_of_line
ij_java_method_call_chain_wrap = off
ij_java_method_parameters_wrap = normal
ij_java_modifier_list_wrap = false
ij_java_parameter_annotation_wrap = normal
ij_java_prefer_parameters_wrap = false
ij_java_resource_list_wrap = normal
ij_java_ternary_operation_wrap = normal
ij_java_test_name_suffix = Test
ij_java_throws_keyword_wrap = normal
ij_java_throws_list_wrap = normal
ij_java_variable_annotation_wrap = normal
ij_java_wrap_comments = true
ij_java_wrap_first_method_in_call_chain = true
ij_java_wrap_long_lines = true

[*.{feature, yml, json}]
indent_style = space
indent_size = 2

[*.sql]
max_line_length = off